# Dependencies
node_modules/

# Environment variables
.env

# Next.js
frontend/.next/
frontend/out/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal